<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-md-3 m-auto" style="padding-top: 60px">
        <img class="img-fluid" src="assets/img/logos/GONEAR_COLOR_H_T.png">
      </div>
    </div>
    <div class="row" style="padding-top: 20px; padding-bottom: 150px">
      <div class="col-md-6 col-sm-10 col-12 m-auto mt-5 card">
        <div class="card-body">
          <h1 class="card-title text-center"><strong>SIGN UP</strong></h1>
          <div class="col-md-12 mt-3">
            <div class="md-form" style="font-size: 15px !important;">
              <i class="fa fa-envelope-o prefix grey-text"></i>
              <input type="text" id="email" class="form-control">
              <label for="email">Your email</label>
            </div>
            <div class="md-form">
              <i class="mdi mdi-lock-outline prefix grey-text"></i>
              <input type="text" id="password" class="form-control">
              <label for="password">Password</label>
            </div>
            <div class="md-form">
              <i class="mdi mdi-lock-outline prefix grey-text"></i>
              <input type="password" id="password-confirm" class="form-control">
              <label for="password-confirm">Repeat Password</label>
            </div>
            <div class="select-control">
              <i class="mdi mdi-map-marker-outline prefix grey-text"></i>
              <select class="form-control">
                <option>Country</option>
                <option>Venezuela</option>
                <option>Canada</option>
              </select>
            </div>
            <div class="select-control">
              <i class="mdi mdi-map-marker-outline prefix grey-text"></i>
              <select class="form-control">
                <option>State</option>
                <option>Venezuela</option>
                <option>Canada</option>
              </select>
            </div>

          </div>
          <div class="row" style="clear: both">
            <div class="col-md-6 m-auto mt-3" style="padding-top: 10px">
              <a href="#" class="btn btn-block btn-warning">SIGN UP <i class="mdi mdi-send"></i></a>
              <a href="#" class="btn btn-block btn-danger"><i class="fa fa-google"></i> Sign in with Google</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
