<div class="body-front">
<menu-component></menu-component>
<div class="container-fluid">
  <div class="row">
    <component-sidebar></component-sidebar>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" style="margin-top: 12vh" role="main">
      <div class="card card-crd">
        <div class="card-header primary text-center">
          <span class="pt-5">Ubicaciones</span>
          <button *ngIf="!control" class="btn btn-info btn-sm pull-right" (click)="nuevo()">Crear</button>
          <button *ngIf="control" class="btn btn-danger btn-sm pull-right" (click)="cancelar()">Cancelar</button>
        </div>
        <div class="card-body p-0" *ngIf="!control">
          <div class="pt-1 pb-2">
            <div class="form-group col-md-3 ml-1">
              <label>Tipos</label><br>
              <select class="form-control" name="tipo" id="tipo" [(ngModel)]="tipo" (change)="filter()">
                <option value="-1">Todos</option>
                <option value="1">Oficinas</option>
                <option value="2">Centros de Pago</option>
              </select>
            </div>
            <div class="col-md-3">

            </div>
          </div>
          <table class="table table-bordered table-hover m-0">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Tipo</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of list" (click)="edit(item)">
              <td>{{item.nombre}}</td>
              <td>{{item.direccion}}</td>
              <td>
                <span *ngIf="item.tipoUbicacion == 1">Oficina</span>
                <span *ngIf="item.tipoUbicacion == 2">Centro de Pago</span>
              </td>
              <td>
                <span *ngIf="item.status == 1" class="text-success">Activo</span>
                <span *ngIf="item.status == 2" class="text-danger">Inactivo</span>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination class="pull-right" [maxSize]="10" [nextText]="'Siguiente'" [previousText]="'Antes'"
                      [totalItems]="totalItems" [(ngModel)]="currentPage"
                      (pageChanged)="pageChanged($event)"></pagination>

        </div>

        <div class="card-body" *ngIf="control">
          <div class="row">
            <div class="col-md-10 m-auto">
              <table class="table">
                <tbody>
                <tr>
                  <td><b>Nombre</b></td>
                  <td>
                    <input class="form-control" [(ngModel)]="item.nombre">
                  </td>
                </tr>
                <tr>
                  <td><b>Tipo</b></td>
                  <td>
                    <select class="form-control" [(ngModel)]="item.tipoUbicacion">
                      <option value="1">Oficina</option>
                      <option value="2">Centro de Pago</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><b>Dirección</b></td>
                  <td>
                    <input class="form-control" [(ngModel)]="item.direccion">
                  </td>
                </tr>
                <tr>
                  <td><b>Horario</b></td>
                  <td>
                    <input class="form-control" [(ngModel)]="item.horario">
                  </td>
                </tr>
                <tr>
                  <td><b>Correo</b></td>
                  <td>
                    <input class="form-control" [(ngModel)]="item.correo[0]">
                  </td>
                </tr>
                <tr>
                  <td><b>Telefono</b></td>
                  <td>
                    <input class="form-control" [(ngModel)]="item.telefonos[0]">
                  </td>
                </tr>
                <tr>
                  <td><b>Localización</b></td>
                  <td>
                    En el siguiente mapa darle click en el punto exacto donde queda la ubicación de la oficina o centro de pago.
                  </td>
                </tr>
                </tbody>
              </table>

              <ngui-map [center]="optionMaps.center" (mapClick)="onMapClick($event)">
                <marker [position]="optionMarket.position"></marker>
              </ngui-map>

              <div class="col-md-12 text-center mt-3">
                <button class="btn btn-success" (click)="guardar()"><i class="fa fa-save"></i> Guardar</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</div>
