@import "./../../../assets/styles/theme-gonear";

footer {
  padding-bottom: 0px !important;
  margin-bottom: 0px;
}

.top-footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: $gray-strong;
}

.top-footer-menu {
  li {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 100;
    list-style: none !important;
    i{
      color: $primary;
    }
    hr{
      width: 80%;
      left: 0px;
    }
  }
}

.social-icons-footer{
  margin-top: 3.5rem;
  i{
    color: $primary;
  }
}

.sub-footer {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
  color: #ffffff;
  background: $primary;
  .container {
    p {
      font-size: x-small;
    }
  }
}
