<footer style="padding-bottom: 12px">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-0">
          <img class="img-fluid" src="assets/img/logos/BY_SABRINE_COLOR.png">
          <p class="text-justify">
            My bussiness has always focused on using What you have to make
            your house a HOME, but sometimes, we need to start over and I can help
            you decide where you should spend those resources-does.
          </p>
        </div>
        <div class="col-md-4 pl-1 pr-1">
          <ul class="top-footer-menu">
            <li class="ml-5"><i class="mdi mdi-phone mdi-18px"></i> 713 906 5149</li>

            <li>
              <hr>
            </li>
            <li class="ml-5" style="font-size: 14px"><i class="fa fa-envelope-o"></i>  sabrine@sabrinemurphy.com</li>
            <li>
              <hr>
            </li>
            <li class="ml-5"><i class="mdi mdi-map-marker-outline"></i>
              Bellaire, southwest Harris County. Texas, United States
            </li>
          </ul>

          <div class="social-icons-footer text-center">
            <i class="ml-5 fa fa-facebook fa-3x"></i>
            <i class="ml-5 fa fa-youtube fa-3x"></i>
            <i class="ml-5 fa fa-instagram fa-3x"></i>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="top-footer-menu">
            <li class="ml-5"><i class="mdi mdi-home-outline"></i>
              <a href="home" style="color: #212529">
                HOME
              </a>
            </li>
            <li>
              <hr>
            </li>
            <li class="ml-5"><i class="fa fa-picture-o"></i>
              <a href="portfolio" style="color: #212529">
              PORTFOLIO
              </a>
            </li>
            <li>
              <hr>
            </li>
            <li class="ml-5"><i class="mdi mdi-comment-text-outline"></i>
              <a href="contact" style="color: #212529">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container text-center">
      <p>&copy; Sabrine Murphy Design 2017. All Rights Reserved.</p>
    </div>
  </div>
</footer>
