<div class="body-front">
<menu-component></menu-component>
<div class="container-fluid">
  <div class="row">
    <component-sidebar></component-sidebar>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" style="margin-top: 12vh" role="main">
      <div class="card card-sugerencias card-crd  mr-2">
        <div class="card-header primary text-center">
          Chat Online
        </div>
        <div class="row body-mensaje pl-2">
          <div class="col-md-3 lista-sugerencias">
            <div class="col-md-12 p-1 pt-2">
              <select style="color: white" class="form-control" name="status" id="status" [(ngModel)]="status"
                      (change)="filter()">
                <option style="color: black" value="-1">Todos los Status<option>
                <option style="color: black" value="1">Activas</option>
                <option style="color: black" value="2">Cerradas</option>
              </select>
              <hr>
            </div>

            <div class="col-md-12 row ml-1 pt-1 pb-1" *ngFor="let item of list" (click)="edit(item)"
                 style="border-bottom: solid 1px rgba(142, 122, 122, 0.4)"
                 [ngClass]="{'mensajeSelect':(item._id==chat._id)}">
              <div class="col-12">
                <span style="font-weight: 900; color: white; font-size: small" *ngIf="item.usuario != ''">{{item.usuario.Usuario.Nombre}}</span><br>
                <span *ngIf="item.status == 2" class="text-info"
                      style="font-weight: 100; font-size: smaller">Cerradas</span>
                <span *ngIf="item.status == 1" class="text-danger" style="font-weight: 100; font-size: smaller">Activas</span>
                <span class="ml-3" style="font-weight: 100; font-size: smaller; color: white">{{item.fecha| date: 'dd/MM/yyyy hh:mm'}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-5 mensaje pr-2">
            <div class="panel-chat"  #msjChat [scrollTop]="msjChat.scrollHeight">
              <div class="row  pt-2" *ngFor="let msj of mensaje" [ngClass]="{'justify-content-end':(msj.emisor==1)}">
                <div class="col-md-8" [id]="msj.fecha">
                  <div class="card p-2" [ngClass]="{'primary':(msj.emisor==1)}">
                    {{msj.mensaje}}
                    <small>{{msj.fecha|date: 'dd/MM/yyyy hh:mm'}}</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-0" style="background-color: white!important;">
              <form (submit)="enviarMsj()" *ngIf="chat.status == 1">
                <div class="form-group">
                  <textarea class="form-group mensaje" name="mensajeEnviar" [(ngModel)]="mensajeEnviar"></textarea>
                </div>
                <button class="btn btn-warning pull-right" (click)="enviarMsj()">Enviar</button>
              </form>

            </div>

          </div>
          <div class="col-md-3 perfil-usuario">
            <div class="row mt-5 text-center">
              <h4>{{chat.usuario.Usuario.Nombre}}</h4>
              <hr>
              <table class="table m-auto" *ngIf="chat._id != ''">
                <tr>
                  <td style="font-size: xx-small">Fecha de Nacimiento</td>
                  <td style="font-size: xx-small" class="text-right"> {{chat.usuario.Usuario.FechaNacimiento}} </td>
                </tr>
                <tr>
                  <td style="font-size: xx-small">Correo</td>
                  <td style="font-size: xx-small" class="text-right"> {{chat.usuario.Usuario.Correo}} </td>
                </tr>
                <tr>
                  <td style="font-size: xx-small">Dirección</td>
                  <td style="font-size: xx-small" class="text-right"> {{chat.usuario.Usuario.Direccion}} </td>
                </tr>
                <tr>
                  <td style="font-size: xx-small">N Poliza</td>
                  <td style="font-size: xx-small" class="text-right"> {{chat.usuario.Usuario.NumeroAsegurado}} </td>
                </tr>
                <tr>
                  <td style="font-size: xx-small"><b>Polizas</b></td>
                  <td style="font-size: xx-small"><ul>
                    <li *ngFor="let polizas of chat.usuario.listaPolizas">
                      {{polizas.Poliza}} - {{polizas.Estado}} - {{polizas.FechaVencimiento}}
                    </li>
                  </ul></td>
                </tr>
              </table>
              <div class="col-md-12 text-center" *ngIf="chat.status == 1">
                <button class="btn btn-success btn-block m-auto" (click)="saveAtendido()">
                  Cerrar Chat
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</div>
