<h4>
  May interest you
</h4>
<hr class="hr-main">
<div class="row item">
  <div class="col-md-4">
    <img class="img-fluid m-auto" src="assets/img/categories/x512_SPORTS.png">
  </div>
  <div class="col-md-8">
    <span class="title">Service Name</span><br>
    <span class="details-text">Category</span><br>
    <span class="details-text">Price: 35$/h</span>
  </div>
</div>
<hr>

<div class="row item">
  <div class="col-md-4">
    <img class="img-fluid m-auto" src="assets/img/categories/x512_SPORTS.png">
  </div>
  <div class="col-md-8">
    <span class="title">Service Name</span><br>
    <span class="details-text">Category</span><br>
    <span class="details-text">Price: 35$/h</span>
  </div>
</div>
<hr>

<div class="row item">
  <div class="col-md-4">
    <img class="img-fluid m-auto" src="assets/img/categories/x512_SPORTS.png">
  </div>
  <div class="col-md-8">
    <span class="title">Service Name</span><br>
    <span class="details-text">Category</span><br>
    <span class="details-text">Price: 35$/h</span>
  </div>
</div>
<hr>

<div class="row item">
  <div class="col-md-4">
    <img class="img-fluid m-auto" src="assets/img/categories/x512_SPORTS.png">
  </div>
  <div class="col-md-8">
    <span class="title">Service Name</span><br>
    <span class="details-text">Category</span><br>
    <span class="details-text">Price: 35$/h</span>
  </div>
</div>
<hr>
