@import "./../../../assets/styles/theme-gonear";

h4{
  color: $warning;
  font-weight: 900;
  font-size: 1.5rem;
}

.hr-main{
  border-top: 1px solid  rgba(0, 0, 0, 0.31);
}

.item {
  padding-top: 0.2rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.title{
  color: $gray-strong;
  font-size: small;
  font-weight: 900;
}

.details-text {
  color: $gray-light;
  font-size: smaller;
}

