.login-side{
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 250px;
  margin-top: 10vh !important;
}

.text-side{
  background-color: #232b36;
}

.text-side-text > p {
  color: #ffffff;
}

.text-side-text > p > b {
  color: #ff6d00;
}
