<div class="body-front">
<menu-component></menu-component>
<div class="container-fluid">
  <div class="row">
    <component-sidebar></component-sidebar>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" style="margin-top: 12vh" role="main">
      <div class="container-fluid">
        <div class="col-md-9 col-sm-10 col-12 m-auto mt-5 card pt-5 pb-5" style="height: 80vh">
          <div class="card-body">
            <h1 class="card-title text-center"><strong>Cambio de Password</strong></h1>
            <div class="md-form" style="margin-top: 7vh!important;">
              <i class="mdi mdi-lock-outline prefix grey-text"></i>
              <input type="password" id="password" class="form-control" [(ngModel)]="formUser.password">
              <label for="password">Password</label>
            </div>
            <div class="md-form" style="margin-top: 7vh!important;">
              <i class="mdi mdi-lock-outline prefix grey-text"></i>
              <input type="password" id="passwordConfirm" class="form-control" [(ngModel)]="formUser.password2">
              <label for="password">Confirmar Password</label>
            </div>
          </div>
          <div class="row" style="clear: both">
            <div class="col-md-7 m-auto">
              <button class="btn btn-block btn-warning"
                      [disabled]="((formUser.password == '')||(formUser.password != formUser.password2))"
                      (click)="onSubmit()">Guardar <i class="mdi mdi-send"></i></button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</div>
