<div class="body-front">
<menu-component></menu-component>
<div class="container-fluid">
  <div class="row">
    <component-sidebar></component-sidebar>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" style="margin-top: 12vh" role="main">
      <div class="card card-crd">
        <div class="card-header primary text-center">
          <span class="pt-5">Preguntas Frecuentes</span>
          <button *ngIf="!control" class="btn btn-info btn-sm pull-right" (click)="nuevo()">Crear</button>
          <button *ngIf="control" class="btn btn-danger btn-sm pull-right" (click)="cancelar()">Cancelar</button>
        </div>
        <div class="card-body p-0" *ngIf="!control">
          <div class="pt-1 pb-2">
            <div class="form-group col-md-3 ml-1">
              <label>Status</label><br>
              <select class="form-control" name="status" id="status" [(ngModel)]="status" (change)="filter()">
                <option value="-1">Todos</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
            <div class="col-md-3">

            </div>
          </div>
          <table class="table table-bordered table-hover m-0">
            <thead>
            <tr>
              <th>Titulo</th>
              <th>Resumen</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of list" (click)="edit(item)">
              <td>{{item.titulo}}</td>
              <td>{{item.resumen}}</td>
              <td>
                <span *ngIf="item.status == 1" class="text-success">Activo</span>
                <span *ngIf="item.status == 0" class="text-danger">Inactivo</span>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination class="pull-right" [maxSize]="10" [nextText]="'Siguiente'" [previousText]="'Antes'"
                      [totalItems]="totalItems" [(ngModel)]="currentPage"
                      (pageChanged)="pageChanged($event)"></pagination>

        </div>

        <div class="card-body" *ngIf="control">
          <div class="row">
            <div class="col-md-10 m-auto">
              <table class="table">
                <tbody>
                <tr>
                  <td><b>Status</b></td>
                  <td>
                    <select class="form-control" [(ngModel)]="item.status">
                      <option value="1">Activo</option>
                      <option value="0">Inactivo</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><b>Titulo</b></td>
                  <td>
                    <input class="form-control" [(ngModel)]="item.titulo">
                  </td>
                </tr>
                <tr>
                  <td><b>Resumen</b></td>
                  <td>
                    <input class="form-control" [(ngModel)]="item.resumen">
                  </td>
                </tr>
                <tr>
                  <td><b>Respuesta</b></td>
                  <td>
                    <textarea class="form-control" [(ngModel)]="item.texto"></textarea>
                  </td>
                </tr>
                </tbody>
              </table>


              <div class="col-md-12 text-center mt-3">
                <button class="btn btn-success" (click)="guardar()"><i class="fa fa-save"></i> Guardar</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</div>
