@import "./../../../../../assets/styles/theme-gonear";

.card-sugerencias{
  height: 80vh;
  .body-mensaje{
    height: 100%;
    .lista-sugerencias{
      margin-left: 7px;
      background: $primary;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .mensaje{
      height: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
}

.respuesta{
  padding: 5px;
  background: white;
  color: black;
}

.card-crd{
  border-radius: 10px;
  .card-header{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }
}

.mensajeSelect{
  background: black;
}
