<div class="body-front">
  <menu-component></menu-component>
  <div class="container-fluid">
    <div class="row">
      <component-sidebar></component-sidebar>
      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" style="margin-top: 12vh" role="main">
        <div class="card card-sugerencias card-crd  mr-2">
          <div class="card-header primary text-center">
            Buzón de Sugerencias
          </div>
          <div class="row body-mensaje pl-2">
            <div class="col-md-3 lista-sugerencias">
              <div class="col-md-12 p-1 pt-2">
                <select style="color: white" class="form-control" name="status" id="status" [(ngModel)]="status"
                        (change)="filter()">
                  <option style="color: black" value="-1">Todos los Status</option>
                  <option style="color: black" value="1">Por Atender</option>
                  <option style="color: black" value="2">Atendidos</option>
                </select>
                <select style="color: white" class="form-control" name="tipoSugerencia" id="tipoSugerencia"
                        [(ngModel)]="tipoSugerencia" (change)="filter()">
                  <option style="color: black" value="-1">Todos los Tipos</option>
                  <option style="color: black" value="1">Sugerencias</option>
                  <option style="color: black" value="2">Reclamos</option>
                  <option style="color: black" value="3">Preguntas</option>
                </select>
                <hr>
              </div>

              <div class="col-md-12 row ml-1 pt-1 pb-1" *ngFor="let item of list" (click)="edit(item)"
                   style="border-bottom: solid 1px rgba(142, 122, 122, 0.4)"
                   [ngClass]="{'mensajeSelect':(item._id==mensaje._id)}">
                <div class="col-12">
                  <span style="font-weight: 900; color: white; font-size: small" *ngIf="item.usuario != ''">{{item.usuario.Usuario.Nombre}}</span><br>
                  <span style="font-weight: 100; color: #acacac; font-size: smaller">{{item.asunto}}</span><br>
                  <span *ngIf="item.tipoSugerencia == 1" style="color:white; font-weight: 100; font-size: smaller">Sugerencias</span>
                  <span *ngIf="item.tipoSugerencia == 2" style="color:white; font-weight: 100; font-size: smaller">Reclamos</span>
                  <span *ngIf="item.tipoSugerencia == 3" style="color:white; font-weight: 100; font-size: smaller">Preguntas</span><br>
                  <span *ngIf="item.status == 2" class="text-info" style="font-weight: 100; font-size: smaller">Respondida</span>
                  <span *ngIf="item.status == 1" class="text-danger" style="font-weight: 100; font-size: smaller">Sin Responder</span>
                  <span class="ml-3" style="font-weight: 100; font-size: smaller; color: white">{{item.fechaCreacion| date: 'dd/MM/yyyy hh:mm'}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-8 mensaje pr-2">
              <div class="row pt-3">
                <div class="col-md-6"><h4>{{mensaje.usuario.Usuario.Nombre}}</h4></div>
                <div class="col-md-4 text-center">
                  <small>{{mensaje.fechaCreacion| date: 'dd/MM/yyyy hh:mm'}}</small>
                </div>
              </div>
              <hr>
              <h2>{{mensaje.asunto}}</h2>
              <small style="font-size: medium" class="text-info" *ngIf="mensaje.tipoSugerencia == 1">Sugerencia</small>
              <small style="font-size: medium" class="text-info" *ngIf="mensaje.tipoSugerencia == 2">Reclamo</small>
              <small style="font-size: medium" class="text-info" *ngIf="mensaje.tipoSugerencia == 3">Pregunta</small>
              <p>{{mensaje.mensaje}}</p>

              <div class="pr-5">
                <div class="form-group" *ngIf="mensaje._id != ''">
                  <label>Respuesta</label>
                  <textarea class="form-group mensaje" [(ngModel)]="mensaje.respuesta" [disabled]="mensaje.status==2"
                            rows="8"></textarea>
                </div>
                <button *ngIf="mensaje._id != ''" class="btn btn-warning pull-right" [disabled]="mensaje.status==2"
                        (click)="save()">Enviar
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
