<div class="body-front">
<menu-component></menu-component>
<div class="container-fluid">
  <div class="row">
    <component-sidebar></component-sidebar>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" style="margin-top: 12vh" role="main">
      <div class="card card-crd">
        <div class="card-header primary text-center">
          Reporte de Siniestro
        </div>
        <div class="card-body p-0" *ngIf="!control">
          <tabset>
            <tab heading='Por Atender'>
              <table class="table table-bordered table-hover m-0">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>N Poliza</th>
                  <th>Fecha</th>
                  <th>Tipo de Siniestro</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of list" (click)="edit(item)">
                  <td>{{item.usuario.Usuario.Nombre}}</td>
                  <td>{{item.usuario.Usuario.NumeroAsegurado}}</td>
                  <td>{{item.fechaCreacion| date: 'dd/MM/yyyy hh:mm'}}</td>
                  <td>
                    <span *ngIf="item.tipoSiniestro == 'A'" class="text-danger">Accidente</span>
                    <span *ngIf="item.tipoSiniestro == 'R'" class="text-success">Robo</span>
                  </td>
                  <td>
                    Por Atender
                  </td>
                </tr>
                </tbody>
              </table>
              <pagination class="pull-right" [maxSize]="10"  [nextText]="'Siguiente'" [previousText]="'Antes'" [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
            </tab>
            <tab heading='Atendido'>
              <table class="table table-bordered table-hover m-0">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>N Poliza</th>
                  <th>Fecha</th>
                  <th>Tipo de Siniestro</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of list2" (click)="edit(item)">
                  <td>{{item.usuario.Usuario.Nombre}}</td>
                  <td>{{item.usuario.Usuario.NumeroAsegurado}}</td>
                  <td>{{item.fechaCreacion| date: 'dd/MM/yyyy hh:mm'}}</td>
                  <td>
                    <span *ngIf="item.tipoSiniestro == 'A'" class="text-danger">Accidente</span>
                    <span *ngIf="item.tipoSiniestro == 'R'" class="text-success">Robo</span>
                  </td>
                  <td>
                    A
                  </td>
                </tr>
                </tbody>
              </table>
              <pagination class="pull-right" [maxSize]="10"  [nextText]="'Siguiente'" [previousText]="'Antes'" [totalItems]="totalItems2" [(ngModel)]="currentPage2" (pageChanged)="pageChanged2($event)"></pagination>
            </tab>
          </tabset>
        </div>

        <div class="card-body" *ngIf="control">
          <div class="row">
            <div class="col-md-10 m-auto">
              <div class="form-group col-md-12 text-center">
                <label><b>Acciones</b></label><br>
                <div class="btn-group">
                  <button class="btn btn-success" (click)="saveAtendido()" *ngIf="item.status == 2">
                    Pasar a atendido
                  </button>
                  <button class="btn btn-danger" (click)="exit()">
                    Salir
                  </button>
                </div>
              </div>

              <table class="table">
                <tbody>
                  <tr>
                    <td><b>Nombre</b></td>
                    <td>{{item.usuario.Usuario.Nombre}}</td>
                  </tr>
                  <tr>
                    <td><b>Numero Asegurado</b></td>
                    <td>{{item.usuario.Usuario.NumeroAsegurado}}</td>
                  </tr>
                  <tr>
                    <td><b>Telefono</b></td>
                    <td>{{item.usuario.Usuario.telefono}}</td>
                  </tr>
                  <tr>
                    <td><b>Correo</b></td>
                    <td>{{item.usuario.Usuario.Correo}}</td>
                  </tr>
                  <tr>
                    <td><b>Tipo Siniestro</b></td>
                    <td>
                      <span *ngIf="item.tipoSiniestro == 'A'" class="text-danger">Accidente</span>
                      <span *ngIf="item.tipoSiniestro == 'R'" class="text-success">Robo</span>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Status</b></td>
                    <td>
                      <span *ngIf="item.status == 2" class="text-danger">Por Atender</span>
                      <span *ngIf="item.status == 3" class="text-success">Atendido</span>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Fecha</b></td>
                    <td>{{item.fechaCreacion| date: 'dd/MM/yyyy hh:mm'}}</td>
                  </tr>
                  <tr>
                    <td><b>Polizas</b></td>
                    <td><ul>
                      <li *ngFor="let polizas of item.usuario.listaPolizas">
                        {{polizas.Poliza}} - {{polizas.Estado}} - {{polizas.FechaVencimiento}}
                      </li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td><b>Descripción</b></td>
                    <td>{{item.descripcion}}</td>
                  </tr>
                  <tr>
                    <td><b>Ubicacion</b></td>
                    <td>{{item.direccion}}</td>
                  </tr>
                </tbody>
              </table>
              <ngui-map [center]="optionMaps.center">
                <marker [position]="optionMarket.position"></marker>
              </ngui-map>

              <div class="col-md-12 mt-3">
                <b>Imágenes Adjuntas</b><br>
                <div class="row">
                  <div class="col-md-4" *ngFor="let imagen of item.fotos">
                    <img class="img-fluid" src="{{imagen.mediana}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</div>
