.login-side{
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 150px;
  margin-top: 7vh !important;
}

.text-side{
  background-color: #232b36;
}

.text-side-text > p {
  color: #ffffff;
}

.text-side-text > p > b {
  color: #ff6d00;
}
