<div class="body-front">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 m-auto mt-5 login-side">
        <div class="row">
          <div class="col-md-3 m-auto pb-4" style="padding-top: 60px">
            <img class="img-fluid" src="assets/img/logos/credinform-logo.png">
          </div>
        </div>
        <div class="col-md-9 col-sm-10 col-12 m-auto mt-5 card" style="height: 38vh">
          <div class="card-body">
            <h1 class="card-title text-center"><strong>LOGIN</strong></h1>
            <p class="txt-grey text-center">Valoramos tu negocio</p>
            <div class="col-md-12 mt-3">
              <div class="md-form" style="font-size: 15px !important;">
                <i class="fa fa-envelope-o prefix grey-text"></i>
                <input type="text" id="email" class="form-control" [(ngModel)]="formUser.email">
                <label for="email">Correo</label>
              </div>
              <div class="md-form">
                <i class="mdi mdi-lock-outline prefix grey-text"></i>
                <input type="password" id="password" class="form-control" [(ngModel)]="formUser.password">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row" style="clear: both">
              <div class="col-md-7 m-auto">
                <button class="btn btn-block btn-warning" [disabled]="submitted" (click)="onSubmit()">Ingresar <i
                  class="mdi mdi-send"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
