<menu-component></menu-component>
<div class="container-fluid">
  <div class="row">
    <component-sidebar></component-sidebar>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
