@import "./../../../assets/styles/theme-gonear";


.sidebar {
  position: fixed;
  top: 96px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  background: $primary !important;
  color: white !important;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid $gray-light;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
  color: white;
  a{
    color: white;
  }
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
