<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <li *ngIf="tipoUser != 3" class="nav-item">
      <a class="nav-link" (click)="ruteo('reporte-siniestro')"><i class="fa fa-bar-chart"></i> Reportes <span
        *ngIf="totalReportes > 0" class="badge red ml-1">{{totalReportes}}</span></a>
    </li>
    <li *ngIf="tipoUser != 3" class="nav-item">
      <a class="nav-link" (click)="ruteo('chat')"><i class="fa fa-commenting-o"></i> Chat <span
        *ngIf="totalChat > 0" class="badge red ml-1">{{totalChat}}</span></a>
    </li>
    <li *ngIf="tipoUser != 2" class="nav-item">
      <a class="nav-link" (click)="ruteo('buzon-sugerencia')"><i class="fa fa-inbox"></i> Buzón de Sugerencias <span
        *ngIf="totalSugerencias > 0" class="badge red ml-1">{{totalSugerencias}}</span></a>
    </li>
    <li *ngIf="tipoUser != 3" class="nav-item">
      <a class="nav-link" (click)="ruteo('servicios-adicionales')"><i class="fa fa-bell-o"></i> Servicios Adicionales <span
        *ngIf="totalServicios > 0" class="badge red ml-1">{{totalServicios}}</span></a>
    </li>
    <li *ngIf="tipoUser == 1" class="nav-item">
      <a class="nav-link" (click)="ruteo('mapa')"><i class="fa fa-map"></i> Mapa </a>
    </li>
    <li *ngIf="tipoUser == 1" class="nav-item">
      <a class="nav-link" (click)="ruteo('preguntas-frecuentes')"><i class="fa fa-question-circle-o"></i> Preguntas Frecuentes </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="ruteo('password')"><i class="fa fa-key"></i> Cambio de Contraseña</a>
    </li>
  </ul>
</nav>
