@import "./../../../../../assets/styles/theme-gonear";

.card-crd{
  border-radius: 10px;
  .card-header{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }
}

.map-section{
  height: 20vh;
  color: $primary;
}
