<div class="body-front">
  <menu-component></menu-component>
  <div class="container-fluid">
    <div class="row">
      <component-sidebar></component-sidebar>
      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" style="margin-top: 12vh" role="main">
        <div class="card card-crd">
          <div class="card-header primary text-center">
            Servicios Adicionales Solicitados
          </div>
          <div class="card-body p-0" *ngIf="!control">
            <div class="pt-1 pb-2">
              <div class="form-group col-md-3 ml-1">
                <label>Status</label><br>
                <select class="form-control" name="status" id="status" [(ngModel)]="status" (change)="filter()">
                  <option value="-1">Todos</option>
                  <option value="1">Por Atender</option>
                  <option value="2">Atendidos</option>
                  <option value="3">Ignorados</option>
                </select>
              </div>
            </div>
            <table class="table table-bordered table-hover m-0">
              <thead>
              <tr>
                <th>FechaHora</th>
                <th>Nombre Solicitante</th>
                <th>Tipo de Solicitud</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of list" (click)="edit(item)">
                <td>{{item.fechaCreacion| date: 'dd/MM/yyyy hh:mm'}}</td>
                <td>{{item.usuario.Usuario.Nombre}}</td>
                <td>{{item.servicioAdicional.nombre}}</td>
                <td>
                  <span *ngIf="item.status == 1" class="text-danger">Por Atender</span>
                  <span *ngIf="item.status == 2" class="text-success">Atendido</span>
                  <span *ngIf="item.status == 3" class="text-info">Ignorado</span>
                </td>
              </tr>
              </tbody>
            </table>
            <pagination class="pull-right" [maxSize]="10" [nextText]="'Siguiente'" [previousText]="'Antes'"
                        [totalItems]="totalItems" [(ngModel)]="currentPage"
                        (pageChanged)="pageChanged($event)"></pagination>

          </div>

          <div class="card-body" *ngIf="control">
            <div class="row">
              <div class="col-md-10 m-auto">
                <div class="form-group col-md-12 text-center">
                  <label><b>Acciones</b></label><br>
                  <div class="btn-group">
                    <button class="btn btn-success" (click)="saveAtendido()"
                            [disabled]="(item.status == 2) || (item.status == 3)">
                      Pasar a atendido
                    </button>
                    <button class="btn btn-info" (click)="saveIgnorado()"
                            [disabled]="(item.status == 2) || (item.status == 3)">
                      Ignorar
                    </button>
                    <button class="btn btn-danger" (click)="exit()">
                      Salir
                    </button>
                  </div>
                </div>

                <table class="table">
                  <tbody>
                  <tr>
                    <td><b>Nombre</b></td>
                    <td>{{item.usuario.Usuario.Nombre}}</td>
                  </tr>
                  <tr>
                    <td><b>Numero Asegurado</b></td>
                    <td>{{item.usuario.Usuario.NumeroAsegurado}}</td>
                  </tr>
                  <tr>
                    <td><b>Telefono</b></td>
                    <td>{{item.usuario.Usuario.telefono}}</td>
                  </tr>
                  <tr>
                    <td><b>Correo</b></td>
                    <td>{{item.usuario.Usuario.Correo}}</td>
                  </tr>
                  <tr>
                    <td><b>Servicio Solicitado</b></td>
                    <td>{{item.servicioAdicional.nombre}}</td>
                  </tr>
                  <tr>
                    <td><b>Status</b></td>
                    <td>
                      <span *ngIf="item.status == 1" class="text-danger">Por Atender</span>
                      <span *ngIf="item.status == 2" class="text-success">Atendido</span>
                      <span *ngIf="item.status == 3" class="text-info">Ignorado</span>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Fecha</b></td>
                    <td>{{item.fechaCreacion| date: 'dd/MM/yyyy hh:mm'}}</td>
                  </tr>
                  <tr>
                    <td><b>Polizas</b></td>
                    <td>
                      <ul>
                        <li *ngFor="let polizas of item.usuario.listaPolizas">
                          {{polizas.Poliza}} - {{polizas.Estado}} - {{polizas.FechaVencimiento}}
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Ubicacion</b></td>
                  </tr>
                  </tbody>
                </table>
                <ngui-map [center]="optionMaps.center">
                  <marker [position]="optionMarket.position"></marker>
                </ngui-map>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
