@import "assets/styles/theme-gonear";
@import "assets/styles/theme-material-goneur";

body {
  background-color: white;
  font-family: Montserrat;
  background: $background;
}

h1{
  color: #3f4c54;
  font-weight:900 !important;
}

h2 {
  color:$primary;
  font-weight: 900;
  font-style: normal;
}

.grey-text {
  color:#899aac !important;
}


.text-radioactive {
  color: $sucess;
}

.text-gray {
  color: $gray-strong;
}

.txt-grey{
  color:#a9a9a9 !important;
}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea{
  border-bottom-color: $input-color !important;
}

select {
  border: 0px none !important;
  border-bottom:1px solid $input-color !important;
}

.select-control{
  clear: both;
}

.select-control > i {
  float: left;
  font-size: 32px;
}
.select-control > select {
  float: right;
  width: 88%;
}

/**
Botones
 */

.btn {
  border-radius: 5px;
  text-transform: uppercase;
}

.btn {
  font-weight: 900!important;
}

.btn-outline-default {
  color:$gray-strong !important;
  border: solid $gray-strong 1px;
}

.btn-success {
  background-color:$sucess !important;
}
.btn-danger {
  background-color:$danger !important;
}
.btn-warning {
  background-color:$warning !important;
}

.btn-success-outline {
  background-color:$warning !important;
}

.text-success {
  color:$sucess !important;
}
.text-danger {
  color:$danger !important;
}
.text-warning {
  color:$warning !important;
}

.primary{
  background: $primary !important;
  color: #ffffff !important;
}

$dark-primary: $sucess;
$dark-accent:  $warning;
$dark-warn:    $danger;
//$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);



#loading-wrapper {
  position: fixed;
  width: 100%;
  z-index: -1;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #3266cc;
  border-bottom-color: #3266cc;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #e04a32;
  border-bottom-color: #e04a32;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #fecf33;
  border-bottom-color: #fecf33;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#header
{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
}

#content
{
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
}

.body-front{
  height: 100vh;
  background: $background;
}
