$primary: #2e5ea0;
$secondary: #fecf33;
$third: #98aab3;
$sucess: #94d600;
$danger: #e04a32;
$warning: #fecf33;
$info: #8a9bad;

$background:#5ea5c4;

$text: #cacaca;
$input-color:#8a9bad;

$white:#ffffff;
$gray-strong:#f1f2f5;
$gray-light:#f9f9f9;

$transparency: rgba(25, 24, 17, 0.71);
