<nav class="navbar navbar-expand-lg fixed-top mb-5">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">
    <img src="assets/img/logos/credinform-logo.png" width="150px">
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
  <div class="collapse row justify-content-end navbar-collapse" id="navbarSupportedContent">
    <div class="col-md-3">
      <input class="form-control pull-right buscar" placeholder="Buscar...">
    </div>
    <div class="col-md-2">
      <span style="color: #f97c97">{{nombre}}</span><br>
      <a (click)="cerrarSesion()"> <i class="fa fa-sign-out"></i> Cerrar Sesión</a>
    </div>
  </div>
</nav>
