@import "./../../../assets/styles/theme-gonear";


.top-nav{
  width: 100%;
  top:0px;
  border-bottom: 2px solid $gray-strong;
  padding-top: 15px;
  padding-bottom: 15px;
  .container{
    div{
      padding: 0px;
      color: $third;
      font-weight: 100 !important;
      font-size: 1.4rem;

    }
  }
}
.navbar-brand{
  img{
    width: 150px;
    height: auto;
    @media (max-width: 767px) {
      height: 80px;
      width: 150px;
    }
  }
}
.navbar-nav{
  a{
    color: $third !important;
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px 0px 10px 40px;

    &:hover, &:active, &:focus{
      color: $primary !important;
      font-weight: 900;
    }
  }
}

.navbar{
  background: white!important;
}

.navbar-toggler {
  color: $gray-strong !important;
}

.buscar{
  background: $gray-strong;
  padding: 5px;
  border-radius: 5px;
  box-shadow: #3f4c54;
  margin-top: 10px;
}
